@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap');

*{
    margin:0;
    padding: 0;
}
a{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-style: unset;
    color: black;
    justify-content: left;
    margin-top:3%;
    margin-left: 3%;
}

label{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: #615f5f;
    justify-content: right;
    margin-right: 35%;
    margin-top:5%;
}
.logo-search{
    display: flex;
    justify-content: right;
    margin:-3% 93% auto;
    
    
}
.search{
    display: flex;
    justify-content: right;
    margin:-3% 70% auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    width: 343px;
    height: 52px;
}

.copyright {
    background: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}